/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */


/* Stylesheet for the 'smeal.wwwtheme' Plone theme */





/******** drop down styling ********/
#global-dropdowns .plain, 
#global-dropdowns .active {
	position: relative;
	z-index: 1000;
}
.dropdown {
	background-repeat: repeat-x;
	
	color: #fff;
	z-index: 1000;
	position: absolute;
	display: none;
	left: -999em;
}

li.dropdown-parent:hover ul.dropdown {
	display:block;
	left: -3px; 
	top: 25px;
	width: 100%;
	text-align:left; 
}

#global-dropdowns #portal-globalnav .dropdown li:hover,
#global-dropdowns #portal-globalnav .dropdown li:hover a  {
	background-color: &dtml-lightGreen;;
	color: &dtml-mainColor;;
	text-decoration: none;
}
#global-dropdowns #portal-globalnav .dropdown li {
	border-top: none;
	text-align: left;
	display: block;
	list-style-type: none;
	padding: 0;
	border-top: 1px solid #000;
}
#global-dropdowns #portal-globalnav .dropdown li a {
	padding: 10px;
	display: block;
}
#global-dropdowns #portal-globalnav .focus-style,
#global-dropdowns #portal-globalnav .focus-style a {
	background-color: &dtml-lightGreen;;
	color: &dtml-mainColor;;
	border-top: none;
}
.blur-style,
.blur-style a {
	border-top: none;
	color: #fff;
}
#global-dropdowns #portal-globalnav .dropdown li.temp {
	display:none;
}
#portal-globalnav li.plain.has-focus {
	border-top: 6px solid &dtml-mediumGreen;;
}
#portal-globalnav li.plain.no-focus {
	border-top: 6px solid transparent;
}
.dropdown.visible {
	display:block;
	left: -3px; 
	top: 34px;
	text-align:left;
}
.dropdown.hidden {
	display:block;
	position:absolute;
	left: -999px; 
}

/**** end drop-down styling ****/

#search-wrapper {background: #fff;
	padding: 2px;
	vertical-align: top;
	}

#portal-searchbox {margin: 5px 10px 10px 0;}

#portal-searchbox fieldset {border: none; padding: 0; margin: 0;}

legend.search_label {float: left; font-size: 0;}

.search-select {
  
   background: url(down_arrow_select.jpg) right no-repeat #ddd;
   float:left;
   width: 95px;
   border: none;
}

.search-select select {
   background: transparent;
   height: 22px;
   padding-top: 3px;
   width: 120px;
   border: none;
}


.LSBox input#searchBox {
height: 22px;
width: 150px;
	border: none;
	padding-left: 5px;
	
	}
	
.LSBox input#searchButton {
	background: #ddd;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 5px;
	border: none;
	}
		

/********* Search Box Base Styles 





#portal-searchbox fieldset {
	border: 2px solid #fff;;
    font-size: 0;
    line-height: 0;
    margin: 1em 0;
    padding: 0;
    width: auto;

}


	

	

	
	

#portal-searchbox {float: right; margin: 1.5%  3% 0 0; width:28.8%; font-size: 1em;}
#portal-searchbox  form, #portal-searchbox  form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
		padding: 1.2% 0  1.1% 0;
		margin-right: 0.6%;
		text-indent: 2%;
		width: 72%;
		font-size:1.1em;
	}
	#portal-searchbox .searchButton {font-size:0.8em; width: 27%; padding:1.899% 0  0.8% 0; text-align:center;}
	#LSResult {z-index:1; margin-top: 0.5%;}

*********/

/* </dtml-with> */
