/* Stylesheet for the 'smeal.wwwtheme' Plone theme */

/* ######### Search ######### */

#portal-searchbox {margin: 10px 0px 0px;
text-align: right;}

div.LSBox {color: #666;}

.LSBox input {background-color: transparent;
border: none;}

.LSBox input#searchBox {border: 1px solid #666;}

.LSBox input#searchButton {position: relative;
top: 7px;}

#searchBox {background-color: #fff;}